/**
 * Variables
*/

/* Typography */
$header-font: 'DM Serif Display', serif;
$content-font: 'DM Sans', sans-serif;

/* Paths */

/* Grid setup */

/* Color palette */
$black: #000;
$white: #fff;

$primary-color: #F39A8B;
$secondary-color: #273E58;
$background-color: #F5F1E9;