/* Bootstrap */
@import 'vendor/bootstrap/bootstrap';

/* Import Hamburgers */
@import 'vendor/hamburgers';

/* Core variables */
@import 'base/vars';

/* CSS Reset */
@import 'base/reset';

/* CSS print */
@import 'base/print';

/* Mixins, helpers and functions */
@import 'base/mixins';

/* Fonts */
@import 'base/fonts';

@font-face {
	font-family: Nokia;
	src: url(../../src/fonts/nokiafc22.04dc8b64.ttf);
}

/* Common styles */
html {
	scroll-behavior: smooth;
}

body, html {
	overflow-x: hidden;
}

body {
	font-family: Nokia, Arial;
	background: red;
	color: #fff;
	background: radial-gradient(circle, rgba(52,65,130,1) 0%, rgba(83,41,84,1) 100%);
}

p strong, strong p, strong {
	font-weight: 500;
}

em, p em {
	font-style: italic;
}

a {
	color: rgb(255, 200, 37) !important;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Nokia, Arial;
	text-shadow: 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black;
}

h1 small {
	font-size: 14px;
	line-height: 1;
	text-align: right;
	color:rgb(255, 200, 37);
	display: block;
	text-shadow: none;
	padding-right: 30px;
}

a {
	color: #000;

	&:hover {
		color: #000;
	}
}

.page-wrapper {
	text-align: center;
	margin-top: -14px;

	h1 {
		
	}
}

.btn {
	color: #fff !important;
	margin-top: 80px;
	font-size: 22px;
	background-color: transparent;
	padding: 12px 40px;
	border-radius: 32px;
	border: 4px solid #fff;
	transition: .4s all ease;

	&:hover {
		color: rgb(255, 200, 37) !important;
		border-color: rgb(255, 200, 37);
		transform: translateY(-2px);
	}
}

.help {
	color: rgb(255, 200, 37);
	position: absolute;
	top: 20px;
	right: 20px;

	a {
		color:rgb(255, 200, 37);
	}
}

.instructions {
	font-size: 12px;
	margin-top: 60px;
	max-width: 50%;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	display: none;
}

.main-nav {
	padding: 20px;
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;

	a {
		color: #fff !important;
		margin-left: 24px;

		&:first-of-type {
			margin-left: 0;
		}
	}
}

@media (max-width: 600px) {

	p {
		font-size: 14px;
		line-height: 22px;
	}

	.instructions {
		margin-top: 40px;
		max-width: 100%;
	}

	h1 {

	}
}